.__dumidemo-layout-box{
  width: 100%;
  height: 300px;
  margin:20px 0;
}
.__dumidemo-layout-box .yld-layout-header{
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: #7dbcea;
  color:#fff;
}
.__dumidemo-layout-box .yld-layout-sider{
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: #3ba0e9;
  color:#fff;
}
.__dumidemo-layout-box .yld-layout-sider .yld-layout-sider-children{
  color:#fff;
}
.__dumidemo-layout-box .yld-layout-content{
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: #108ee9;
  color:#fff;
}
.__dumidemo-layout-box .yld-layout-footer{
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: #7dbcea;
  color:#fff;
}
