:root {
  --primary-color: #4569d4;
  --primary-box-shadow: #d8e2fc;
  --primary-spin-background: #d8e2fc52;
  --font-size-base: 12px;
  --border-color-base: #d9d9d9;
  --text-color: rgba(0, 0, 0, 0.65);
  --disabled-color: rgba(0, 0, 0, 0.05);
  --border-radius-base: 2px;
}
